* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
        background-image: url('imagenes/marco.avif'); /* Ruta de la imagen */
        background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    
    color: aliceblue;
}
nav{
    position: relative; /* Necesario para que los elementos hijos con position: absolute se basen en este */
    background-image: url('imagenes/fondo-menu.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;
}
nav img{
        position: absolute; /* Hace que la imagen se salga del flujo normal y pueda superponerse */
        top: 15px;  /* Ajusta la posición desde la parte superior */
        left: 20px; /* Ajusta la posición desde la izquierda */
        width: 100px; /* Tamaño de la imagen */
        height: auto;
        z-index: 10; /* Asegura que la imagen esté por encima del texto */
}
nav h1 {
    text-align: right;
    font-size: 80px;



}
nav ul {
    text-align: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #cf58ea;
}
h1  {
    text-align: center;
    font-family: cursive;


}